/* page reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(2, 20, 53), rgb(255, 255, 255)); 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
main {
    width: 40vw;
    height: 60vh;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.616);
    box-shadow: 0 0 20px rgb(0, 0, 0);
    display: flex;
    flex-flow: column wrap;
}
.profile-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: rgb(2, 20, 53);
    margin: 0 0 30px 0;
}
figure {
    align-self: center;
    width: 100px;
    height: 100px;
    border-radius: 50;
    margin: 10px 0;
}
.profile {
    width: 100px;
    height: 100px;
    border-radius: 50;
    align-self: center;
    background: rgb(0, 0, 0);
}
.socials {
    width: 200px;
    border-left: .1rem solid rgb(252, 251, 251);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

i {
    color: white;
}
a {
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.74);
    width: 80%;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    background: rgba(2, 20, 53, 0.616);
    transition: all .5s ease-in;
}
a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 25px rgb(104, 100, 100);
}
small {
    color:rgb(15, 90, 228);
    font-weight: 500;
    margin: 0 0 10px 0;
}
.slack{
    display: none;
}
/* @media only screen and (max-width: 1100px){
    body {
        min-height: 100vh;
        background-image: linear-gradient(to bottom right, rgb(2, 20, 53), rgb(255, 255, 255));
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    main {
        width: 100vw;
        min-height: 100vh;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.616);
        display: flex;
        flex-direction: column;
    }
    .profile-section {
        display: flex;
        flex-direction: column;
        background: rgb(2, 20, 53);
        margin: 0 0 30px 0;
    }
    figure {
        align-self: center;
        width: 100px;
        height: 100px;
        border-radius: 50;
        margin: 20px 0;
    }
    .profile {
        width: 100px;
        height: 100px;
        border-radius: 50;
    }
    .socials {
        width: 100%;
        border-left: none;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .links {
        width: 100vw;
    }
}  */